.DS_Store
Thumbs.db
.idea/
.vscode/

tmp/
node_modules/
vendor/
.pnpm-store/

.env
.env.*
!.env.example
!.env.*.example

apps/web/.astro/
apps/web/dist/
apps/web/.vercel/
apps/api/public/build/
apps/api/database/*.sqlite
apps/api/storage/*.key

.wrangler/
.dev.vars

release/cpanel/
